<?xml version="1.0" encoding="utf-8"?><image name="ERICsles15image_CXP9041763" schemaversion="6.9">
    <description type="system">
        <author>Machinery</author>
        <contact></contact>
        <specification>Description of system 'localhost' exported by Machinery</specification>
    </description>
    <preferences>
	<locale>en_US</locale>
	<keytable>us</keytable>
	<timezone>US/Eastern</timezone>
        <packagemanager>zypper</packagemanager>
	<type bootloader="grub2" filesystem="ext3" format="qcow2" image="vmx" bundle_format="%N-%M.%m.%p">
	<size unit="G">10</size>
	   <systemdisk name="VolGroup00" preferlvm="true">
		<volume name="LogVol01" size="1536M" mountpoint="swap"/>
		<volume name="@root=LogVol00" size="all"/>
	   </systemdisk>
         </type>
         
        <version>1.0.1</version>
   </preferences>

    <users>
        <user groups="root" home="/root" name="root" password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0"/>
    </users>
    <repository type="rpm-md" alias="patchset" imageinclude="true">
        <source path="https://ci-portal.seli.wh.rnd.internal.ericsson.com/static/staticRepos/SLES15.0_OS_Patch_Set_CXP9041750-1.16.1/"/>
    </repository>

    <packages type="bootstrap">
        <package name="filesystem"/>
        <package name="ca-certificates"/>
        <package name="ca-certificates-mozilla"/>
        <package name="cracklib-dict-full"/>
        <package name="glibc-locale"/>
    </packages>
    <packages type="image">
        <package name="aaa_base"/>
        <package name="aaa_base-extras"/>
        <package name="python-dummy"/>
        <package name="acl"/>
        <package name="ed"/>
        <package name="apparmor-abstractions"/>
        <package name="apparmor-parser"/>
        <package name="apparmor-profiles"/>
        <package name="audit"/>
        <package name="bash"/>
        <package name="bash-sh"/>
        <package name="boost-license1_66_0"/>
        <package name="branding-SLE"/>
        <package name="btrfsmaintenance"/>
        <package name="btrfsprogs"/>
        <package name="btrfsprogs-udev-rules"/>
        <package name="ca-certificates"/>
        <package name="ca-certificates-mozilla"/>
        <package name="chrony"/>
        <package name="chrony-pool-suse"/>
        <package name="coreutils"/>
        <package name="cpio"/>
        <package name="cracklib"/>
        <package name="sles-release"/>
        <package name="crypto-policies"/>
        <package name="curl"/>
        <package name="sysstat"/>
        <package name="bridge-utils"/>
        <package name="systemd-coredump"/>
        <package name="systemd-bash-completion"/>
        <package name="tuned"/>
        <package name="ksh-93vu"/>
        <package name="kdump"/>
        <package name="autofs"/>
        <package name="bash-completion"/>
        <package name="cron"/>
        <package name="cloud-init"/>
        <package name="dhcp-client"/>
        <package name="device-mapper"/>
        <package name="hardlink"/>
        <package name="gcc"/>
        <package name="bash-lang"/>
        <package name="hwinfo"/>
        <package name="insserv-compat"/>
        <package name="kexec-tools"/>
        <package name="kernel-firmware"/>
        <package name="keyutils"/>
        <package name="kmod-compat"/>
        <package name="lvm2"/>
        <package name="make"/>
        <package name="net-tools-deprecated"/>
        <package name="nfs-client"/>
        <package name="openssl"/>
        <package name="openssl-devel"/>
        <package name="rpcbind"/>
        <package name="sg3_utils"/>
        <package name="sed-lang"/>
        <package name="system-user-daemon"/>
        <package name="sysvinit-tools"/>
        <package name="tcsh"/>
        <package name="terminfo"/>
        <package name="sysvinit-tools"/>
        <package name="tar-lang"/>
        <package name="thin-provisioning-tools"/>
        <package name="vim-data"/>
        <package name="xfsprogs"/>
        <package name="dbus-1"/>
        <package name="dialog"/>
        <package name="diffutils"/>
        <package name="dmidecode"/>
        <package name="dosfstools"/>
        <package name="dracut"/>
        <package name="dracut-mkinitrd-deprecated"/>
        <package name="e2fsprogs"/>
        <package name="ebtables"/>
        <package name="efibootmgr"/>
        <package name="elfutils"/>
        <package name="fbiterm"/>
        <package name="fdupes"/>
        <package name="file"/>
        <package name="file-magic"/>
        <package name="filesystem"/>
        <package name="fillup"/>
        <package name="findutils"/>
        <package name="fipscheck"/>
        <package name="firewalld"/>
        <package name="gawk"/>
        <package name="gettext-runtime"/>
        <package name="gio-branding-SLE"/>
        <package name="girepository-1_0"/>
        <package name="glib2-tools"/>
        <package name="glibc"/>
        <package name="glibc-locale-base"/>
        <package name="gpg2"/>
        <package name="grep"/>
        <package name="grub2"/>
        <package name="grub2-branding-SLE"/>
        <package name="grub2-i386-pc"/>
        <package name="grub2-snapper-plugin"/>
        <package name="grub2-x86_64-efi"/>
        <package name="gzip"/>
        <package name="haveged"/>
        <package name="hostname"/>
        <package name="info"/>
        <package name="iproute2"/>
        <package name="ipset"/>
        <package name="iptables"/>
        <package name="iputils"/>
        <package name="issue-generator"/>
        <package name="kbd"/>
        <package name="kbd-legacy"/>
        <package name="kernel-default-base"/>
        <package name="kmod"/>
        <package name="krb5"/>
        <package name="less"/>
        <package name="libXfont1"/>
        <package name="libacl1"/>
        <package name="libapparmor1"/>
        <package name="libargon2-1"/>
        <package name="libasm1"/>
        <package name="libassuan0"/>
        <package name="libattr1"/>
        <package name="libaudit1"/>
        <package name="libaugeas0"/>
        <package name="libauparse0"/>
        <package name="libblkid1"/>
        <package name="libboost_system1_66_0"/>
        <package name="libboost_thread1_66_0"/>
        <package name="libbrotlicommon1"/>
        <package name="libbrotlidec1"/>
        <package name="libbtrfs0"/>
        <package name="libbz2-1"/>
        <package name="libcap-ng0"/>
        <package name="libcap2"/>
        <package name="libcbor0"/>
        <package name="libcom_err2"/>
        <package name="libcrack2"/>
        <package name="libcrypt1"/>
        <package name="libcryptsetup12"/>
        <package name="libcurl4"/>
        <package name="libdbus-1-3"/>
        <package name="libdevmapper1_03"/>
        <package name="libdialog14"/>
        <package name="libdw1"/>
        <package name="libebtc0"/>
        <package name="libeconf0"/>
        <package name="libedit0"/>
        <package name="libefivar1"/>
        <package name="libelf1"/>
        <package name="libestr0"/>
        <package name="libexpat1"/>
        <package name="libext2fs2"/>
        <package name="libfastjson4"/>
        <package name="libfdisk1"/>
        <package name="libffi7"/>
        <package name="libfido2-1"/>
        <package name="libfido2-udev"/>
        <package name="libfipscheck1"/>
        <package name="libfontenc1"/>
        <package name="libfreebl3"/>
        <package name="libfreetype6"/>
        <package name="libfribidi0"/>
        <package name="libfuse2"/>
        <package name="libgcc_s1"/>
        <package name="libgcrypt20"/>
        <package name="libgdbm4"/>
        <package name="libgio-2_0-0"/>
        <package name="libgirepository-1_0-1"/>
        <package name="libglib-2_0-0"/>
        <package name="libgmodule-2_0-0"/>
        <package name="libgmp10"/>
        <package name="libgnutls30"/>
        <package name="libgobject-2_0-0"/>
        <package name="libgpg-error0"/>
        <package name="libgpgme11"/>
        <package name="libhavege2"/>
        <package name="libhogweed6"/>
        <package name="libicu-suse65_1"/>
        <package name="libicu65_1-ledata"/>
        <package name="libidn2-0"/>
        <package name="libip4tc2"/>
        <package name="libip6tc2"/>
        <package name="libipset11"/>
        <package name="libiterm1"/>
        <package name="libjansson4"/>
        <package name="libjson-c3"/>
        <package name="libkeyutils1"/>
        <package name="libkmod2"/>
        <package name="libksba8"/>
        <package name="libldap-2_4-2"/>
        <package name="libldap-data"/>
        <package name="liblogging0"/>
        <package name="liblognorm5"/>
        <package name="liblua5_3-5"/>
        <package name="liblz4-1"/>
        <package name="liblzma5"/>
        <package name="liblzo2-2"/>
        <package name="libmagic1"/>
        <package name="libmnl0"/>
        <package name="libmount1"/>
        <package name="libmozjs-60"/>
        <package name="libncurses6"/>
        <package name="libnetfilter_conntrack3"/>
        <package name="libnettle8"/>
        <package name="libnfnetlink0"/>
        <package name="libnftables1"/>
        <package name="libnftnl11"/>
        <package name="libnghttp2-14"/>
        <package name="libnl-config"/>
        <package name="libnl3-200"/>
        <package name="libnm0"/>
        <package name="libnpth0"/>
        <package name="libnsl2"/>
        <package name="libopenssl1_1"/>
        <package name="libp11-kit0"/>
        <package name="libparted0"/>
        <package name="libpcre1"/>
        <package name="libpgm-5_2-0"/>
        <package name="libpng16-16"/>
        <package name="libpolkit0"/>
        <package name="libpopt0"/>
        <package name="libprocps7"/>
        <package name="libprotobuf-lite20"/>
        <package name="libproxy1"/>
        <package name="libpsl5"/>
        <package name="libpython3_6m1_0"/>
        <package name="librdkafka1"/>
        <package name="libreadline7"/>
        <package name="libreiserfscore0"/>
        <package name="libruby2_5-2_5"/>
        <package name="libsasl2-3"/>
        <package name="libseccomp2"/>
        <package name="libselinux1"/>
        <package name="libsemanage1"/>
        <package name="libsepol1"/>
        <package name="libsigc-2_0-0"/>
        <package name="libsmartcols1"/>
        <package name="libsnapper5"/>
        <package name="libsodium23"/>
        <package name="libsoftokn3"/>
        <package name="libsolv-tools"/>
        <package name="libsqlite3-0"/>
        <package name="libssh-config"/>
        <package name="libssh4"/>
        <package name="libstdc++6"/>
        <package name="libsystemd0"/>
        <package name="libtasn1"/>
        <package name="libtasn1-6"/>
        <package name="libtextstyle0"/>
        <package name="libtirpc-netconfig"/>
        <package name="libtirpc3"/>
        <package name="libudev1"/>
        <package name="libunistring2"/>
        <package name="libunwind"/>
        <package name="liburing2"/>
        <package name="libusb-1_0-0"/>
        <package name="libutempter0"/>
        <package name="libuuid1"/>
        <package name="libverto1"/>
        <package name="libwrap0"/>
        <package name="libxml2-2"/>
        <package name="libxml2-tools"/>
        <package name="libxtables12"/>
        <package name="libyajl2"/>
        <package name="libyaml-0-2"/>
        <package name="libyaml-cpp0_6"/>
        <package name="libz1"/>
        <package name="libzio1"/>
        <package name="libzmq5"/>
        <package name="libzstd1"/>
        <package name="libzypp"/>
        <package name="login_defs"/>
        <package name="logrotate"/>
        <package name="lsof"/>
        <package name="mozilla-nspr"/>
        <package name="mozilla-nss"/>
        <package name="mozilla-nss-certs"/>
        <package name="ncurses-utils"/>
        <package name="net-tools"/>
        <package name="netcfg"/>
        <package name="nftables"/>
        <package name="openslp"/>
        <package name="openssh"/>
        <package name="openssh-clients"/>
        <package name="openssh-common"/>
        <package name="openssh-server"/>
        <package name="openssl-1_1"/>
        <package name="p11-kit"/>
        <package name="p11-kit-tools"/>
        <package name="pam"/>
        <package name="pam-config"/>
        <package name="parted"/>
        <package name="patterns-base-apparmor"/>
        <package name="patterns-base-base"/>
        <package name="patterns-base-minimal_base"/>
        <package name="perl"/>
        <package name="perl-Bootloader"/>
        <package name="perl-base"/>
        <package name="permissions"/>
        <package name="pigz"/>
        <package name="pinentry"/>
        <package name="pkg-config"/>
        <package name="polkit"/>
        <package name="polkit-default-privs"/>
        <package name="procps"/>
        <package name="purge-kernels-service"/>
        <package name="python3"/>
        <package name="python3-Babel"/>
        <package name="python3-Jinja2"/>
        <package name="python3-M2Crypto"/>
        <package name="python3-MarkupSafe"/>
        <package name="python3-PyYAML"/>
        <package name="python3-appdirs"/>
        <package name="python3-asn1crypto"/>
        <package name="python3-base"/>
        <package name="python3-certifi"/>
        <package name="python3-cffi"/>
        <package name="python3-chardet"/>
        <package name="python3-contextvars"/>
        <package name="python3-cryptography"/>
        <package name="python3-dbus-python"/>
        <package name="python3-decorator"/>
        <package name="python3-distro"/>
        <package name="python3-firewall"/>
        <package name="python3-gobject"/>
        <package name="python3-idna"/>
        <package name="python3-immutables"/>
        <package name="python3-msgpack"/>
        <package name="python3-nftables"/>
        <package name="python3-ordered-set"/>
        <package name="python3-packaging"/>
        <package name="python3-psutil"/>
        <package name="python3-py"/>
        <package name="python3-pyOpenSSL"/>
        <package name="python3-pyasn1"/>
        <package name="python3-pycparser"/>
        <package name="python3-pyparsing"/>
        <package name="python3-pytz"/>
        <package name="python3-pyzmq"/>
        <package name="python3-requests"/>
        <package name="python3-rpm"/>
        <package name="python3-salt"/>
        <package name="python3-setuptools"/>
        <package name="python3-six"/>
        <package name="python3-slip"/>
        <package name="python3-slip-dbus"/>
        <package name="python3-urllib3"/>
        <package name="python3-zypp-plugin"/>
        <package name="rollback-helper"/>
        <package name="rpm"/>
        <package name="rpm-config-SUSE"/>
        <package name="rsync"/>
        <package name="rsyslog"/>
        <package name="ruby-common"/>
        <package name="ruby2.5"/>
        <package name="ruby2.5-rubygem-gem2rpm"/>
        <package name="ruby2.5-stdlib"/>
        <package name="salt"/>
        <package name="salt-minion"/>
        <package name="sed"/>
        <package name="shadow"/>
        <package name="shared-mime-info"/>
        <package name="shim"/>
        <package name="snapper"/>
        <package name="snapper-zypp-plugin"/>
        <package name="suse-build-key"/>
        <package name="suse-module-tools"/>
        <package name="suseconnect-ng"/>
        <package name="sysconfig"/>
        <package name="sysconfig-netconfig"/>
        <package name="syslog-service"/>
        <package name="system-group-audit"/>
        <package name="system-group-hardware"/>
        <package name="system-group-kvm"/>
        <package name="system-group-wheel"/>
        <package name="system-user-mail"/>
        <package name="system-user-nobody"/>
        <package name="system-user-root"/>
        <package name="systemd"/>
        <package name="systemd-default-settings"/>
        <package name="systemd-default-settings-branding-SLE"/>
        <package name="systemd-presets-branding-SLE"/>
        <package name="systemd-presets-common-SUSE"/>
        <package name="systemd-rpm-macros"/>
        <package name="systemd-sysvinit"/>
        <package name="sysuser-shadow"/>
        <package name="tar"/>
        <package name="terminfo-base"/>
        <package name="timezone"/>
        <package name="typelib-1_0-NM-1_0"/>
        <package name="udev"/>
        <package name="update-alternatives"/>
        <package name="util-linux"/>
        <package name="util-linux-systemd"/>
        <package name="vim"/>
        <package name="vim-data-common"/>
        <package name="which"/>
        <package name="wicked"/>
        <package name="wicked-service"/>
        <package name="xen-libs"/>
        <package name="xen-tools-domU"/>
        <package name="xtables-plugins"/>
        <package name="xz"/>
        <package name="zstd"/>
        <package name="zypper"/>
        <package name="zypper-lifecycle-plugin"/>
        <package name="zypper-needs-restarting"/>

    </packages>
</image>
